// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

//Main Template Styles
h1, h2, h3, h4, h5, h6{
  color: $wvbass-blue;
  margin: 1rem 0 2rem 0;
}
h1{
  margin: 1rem 0 2rem 0;
}
h2, h3, h4, h5, h6{
  margin: 1rem 0 1rem 0;
}
.site-main{
  font-size: 1.2rem;
  a{
    color: $wvbass-blue;
    text-decoration: underline;
    cursor: pointer;
  }
}
#full-width-page-wrapper, #page-wrapper{
  padding: 10px 0;
}
ol{
  li{
    margin-bottom: 1rem;
  }
}

//Navigation Bar
#wrapper-navbar {
	background-color: $white;
  border-bottom: 3px solid $wvbass-gold;
  a{
    font-family: impact, sans-serif;
    font-size: 1.8rem;
    &:hover, &:focus{
      background-color: $wvbass-blue;
      color: $white !important;
    }
  }
}
.dropdown-menu{
  min-width: 225px;
}
.dropdown-item{
  white-space: normal !important;
  font-size: 1.4rem !important;
}
.logo-links{
  list-style-type: none;
  position: absolute;
  top: -5px;
  right: 0;
  li{
    display: inline-block;
    a{
      #fbLogo{
        width: 40px;
        @include media-breakpoint-up(lg){
          width: 50px;
        }
      }
      #bassLogo{
        width: 25px;
        margin-right: .5rem;
        @include media-breakpoint-up(lg){
          width: 35px;
        }
      }
      &:hover, &:focus{
        background-color: $white !important;
      }
    }
  }
}
.navbar-brand{
  &:hover, &:focus{
    background-color: $white !important;
  }
  img{
    width: 275px;
  }
}

//frontpage
.announcement{
  background-color: $wvbass-blue;
  color: $white;
  font-size: 1.75rem;
  font-family: impact,sans-serif;
  font-weight: normal;
  line-height: 2.2rem;
  letter-spacing: .5px;
  .announcmentIcon{
    width: 200px;
  }
  .announcementText{
    a{
      color: $wvbass-green;
      text-decoration: underline;
      &:hover, &:focus{
        color: $wvbass-gold;
      }
    }
  }
}
.featureImage{
  text-align:center;
  img{
    width: 100%;
    max-width: 1200px;
  }
}
//footer

.site-footer{
  h2{
    text-align: center;
    font-size: 8vw;
    @include media-breakpoint-up(lg){
      font-size: 6rem;
    }
  }
  .sponsor-list{
    list-style-type: none;
    li{
      display: inline-block;
      padding: 1rem;
      img{
        max-width: 300px;
      }
    }
  }
}
.tagline{
  background-color: $black;
  color: $white;
  font-size: 3rem;
  text-align: center;
  font-family: $headings-font-family;
  padding: 1rem 0;
  p{
    line-height: 3rem;
  }
  a{
    color: $wvbass-green;
    text-decoration: none;
    &:hover, &:focus{
      color: $wvbass-gold;
    }
  }
  .goattech{
    font-size: 2rem;
    line-height: .5rem;
  }
}
